body{
  overflow-x: hidden;
    background-color:azure;
    margin: 0;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
nav {
  position: fixed;
  width: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  z-index: 3;
}

.ul1 {
  list-style-type:none ;
  padding-left: 0%;
  margin-top: 0%;
  background: #171717;
  height: 6.7vh;
}

.ul {
  list-style-type: none;  
  margin-top: 14%;
}

.a1 {
  text-decoration: none;
  background: #333333;
  color: #fff;
  padding: 0px 15px;
  font-family: arial;
  line-height: 50px;
  display: block;
  border-right: 1px solid #000000;
  transition: all 0.3s 0.01s ease;
  height: 6.7vh;
}

a:hover {
  background: #505050;
}

.limenu {
  float: left;
  position: relative;
}

li > ul {
  position: absolute;
  top: 25px;
  display: none;
}

li:hover > ul {
  display: block;
  width: 250px;
  margin-left:-100px;
  margin-top:25px ;
}

li:hover > ul > li {
  float: none;
}

.logo {
  position: absolute;
  width: 30px;
  left: 1300px;
  top: 5px;
}

/* добавляем стили для бургер-меню */

.burger {
  display: none;
}

.burger .line {
  width: 24%;
  height: 10%;
  background-color: #ff0000;
  margin: 5px;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .ul1 {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #171717;
    padding: 20px;
  }
  
  .limenu {
    width: 100%;
    float: none;
    background-color: #ff0000;
  }
  
  .burger  {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
  }
  
  .burger .line {
    width: 24px;
    height: 3px;
    background-color: #ff0303;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .limenu:hover > ul {
    display: none;
  }
  
  .burger.active .line:nth-child(1),
  .burger.active .line:nth-child(3) {
    transform: rotate(45deg);
    background-color: #ff0303;
  }
  
  .burger.active .line:nth-child(2) {
    background-color: #ff0303;
    opacity: 0;
  }
  
  .burger.active .line:nth-child(4) {
    transform: rotate(-45deg);
    background-color: #ff0303;
  }
  
  .burger.active + .ul1 {
    display: block;
  }
}
.injected-svg{
  position: absolute;
  margin-left: 85vw;
  margin-top: -10vh;
  z-index: 100;
}
.istor{
    text-align: center;
    width: 100%;
    height: 90vh;
}
h1{
    color: yellow;
    margin-top: 15vh;
}
p{
    font-size: 1.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fillosof{
  width: 100vw;
}
.img1{
    padding-top: 10vh;
    margin-left: 10vw;
    height: 31vh;
    width: 31vw;
}
.fil{
    background-color: yellow;
    height: 35vh;
    width: 35vw;
    margin-left: 10vw;
    text-align: center;
    padding-top: 30px;
    display: inline-block;
}
.eto{
  width: 100%;
}
.bef{
    color: #171717;
    margin-left: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spis{
    list-style: none;
    margin-left: 5vw;
    margin-top: 1vh;
    background: url(../../galk.png);
    background-size: contain;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 35px;
    font-size: 1.4vw;
}
.img2{
    margin-top: 2vh;
    width:35vw;
    height: 40vh;
    margin-left: 60vw;
    margin-top: -40vh;
    display: inline-block;
}
.df{
  margin-top: 4vh;
  background-color: #333333;
  height: 37vh;
  width: 100vw;
}
.pf1{
  padding-top: 5vh;
  padding-left: 5vw;
  color: yellow;
  font-size: 3vh;
  font-weight: bold;
}
.img_all{
  border-radius: 10px;
}
.tm1{
  margin-left: 6vw;
  margin-top: 0px;
  background-color: #fff;
  padding: 0;
}
.tmp{
  height: 0vh;
  display: inline;
  color: #fff;
}
.tm2{
  margin-top: 50px;
  margin-left: 100px;
  background-color: #fff;
}
.tmp2{
  display: inline;
  color: #fff;
}
.vkk{
  float: right;
  background-color:rgb(76, 117, 163);
  margin-right: 3vw;
}
.inst{
  float: right;
  margin-right: 3vw;
}
.fc{
  float: right;
  margin-right: 3vw;
}
.tw{
  float: right;
  background-color: #fff;
  margin-right: 3vw;
}
@media (max-width: 480px){
  p{
    font-size: 2.2vw;
  }
  .img1{
    margin-left: 24vw;
    width: 55vw;
    margin-bottom: 5vh;
  }
  .spis{
    background-image: none;
    list-style-type:circle ;
    font-size: 2.5vw;
  }
  .img2{
    margin-left: 25vw;
    width: 55vw;
    margin-top: 2vh;
  }
  .fil{
    display: block;
    width: 55vw;
    margin-left: 25vw;
  }
  .img_all{
    width: 8vw;
}        
.tm2{
    display: block;
    margin-left: 6vw;
}
.tmp2{
    display: inline-block;
    margin-left: 7vw;
}
.n1{
   margin-top: 3vh;
   margin-bottom: 10vh;
   font-size: 75%; 
}
.vkk{
    margin-top: -10vh;
}
.fc{
    margin-top: -10vh;
}
}
